<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Password_reset_base</title>
    {% endblock title %}
    {% load static %}
    <link rel="stylesheet" href="{% static "grumblr/css/bootstrap.min.css" %}">
    <link href="{% static "grumblr/css/base.css" %}" rel="stylesheet">
</head>

<body>
<div class="blog-masthead">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <label class="navhead">Grumblr</label>
            </div>
        </div>
    </nav>
</div>
{% block message %}
{% endblock %}
</body>
</html>