{% autoescape off %}
    You're receiving this email becaues there is a request of password reset for your account associated with this email address at {{ site_name }}.

    Please follow the link below to complete the reset process:

    {{ protocol }}://{{ domain }}{% url 'reset-confirm' uidb64=uid token=token %}

    Please confirm your username in Grumblr is: {{ user.username }}

    If the request is not sent on your demand, please ignore this email or contact our team.

    Thank you for using our service!

    The Grumblr team.
{% endautoescape %}