{% extends "registration/base_password_reset.html" %}
{% block title %}
    <title>Password reset confirm</title>
{% endblock %}
{% block message %}
<div class="message">
    {% if validlink %}
        <p>Please enter you new password:</p>
        <form method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        {{ form.new_password1.errors }}

                    </td>
                    <td>
                        {{ form.new_password1 }}
                    </td>
                </tr>
                <td>
                    {{ form.new_password2.errors }}

                </td>
                <td>
                    {{ form.new_password2 }}
                </td>
                </tr>
                <input type="submit" value="Change the password"/>
            </table>
        </form>
    {% else %}
        <p>This link is not valid.</p>
    {% endif %}
</div>
{% endblock %}